<p>inserire titolo della verifica
    <input type="text" #caricaVerfica>
</p>
<p>inserire durata della verifica
    <input type="text" #caricaVerfica>
</p>
<p>inserire classe 
    <input type="text" #caricaVerfica>
</p>
<p>inserire link al testo della verifica
    <input type="text" #caricaVerfica>
</p>
<p>inserire link alla griglia di valutazione
    <input type="text" #caricaVerfica>
</p>
<p>inserire grado di difficoltà
    <input type="text" #caricaVerfica>
</p>
<p>inserire i tag della verifica
    <input type="text" #caricaVerfica>
</p>